[submodule "sparsepp"]
	path = sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "cpp-btree"]
	path = cpp-btree
	url = https://github.com/andreasvc/cpp-btree
[submodule "gheap"]
	path = gheap
	url = https://github.com/valyala/gheap.git
