*
!discodop/
!discodop/*.pyx
!discodop/*.pxd
!discodop/*.pxi
!discodop/*.h
!discodop/*.py
!web/
!web/*.py
!web/static/
!web/templates/
!bin/
!tests/
!docs/
!docs/*.rst
!docs/*.py
!docs/cli
!docs/cli/*.rst
!tests.py
!setup.py
!LICENSE
!MANIFEST.in
!Makefile
!README.rst
!.gitignore
