# ignore files/folders in same directory as the .gitignore file
/*

# except these files
!tests.py
!setup.py
!LICENSE
!MANIFEST.in
!Makefile
!requirements.txt
!README.rst
!.gitignore
!.editorconfig
!Vagrantfile
!alpinosample.export
!alpino.headrules
!negra.headrules
!ptb.headrules
!ftb.headrules
!proper.prm
!sample.prm
!valgrind-python.supp


# and these subdirectories
!bin/
!bin/discodop

!cpp-btree/
!sparsepp/
!gheap

!discodop/
discodop/*
!discodop/*.py
!discodop/*.pyx
!discodop/*.pxd
!discodop/*.pxi
!discodop/*.h
!discodop/.agignore

!web/
web/*
!web/*.py
!web/requirements.txt
!web/treesearchpasswd.txt.example
web/corpus/
web/corpus/*
!web/static/
!web/static/*.js
!web/static/*.ico
!web/static/*.css
!web/templates/
!web/templates/*.html

!docs/
docs/*
!docs/images/
!docs/images/*.png
!docs/Makefile
!docs/README
!docs/*.rst
!docs/*.py
!docs/cli
!docs/cli/*.rst

!tests/
tests/*
!tests/*.py
!tests/*.sh
!tests/*.prm
!tests/*.mrg
!tests/*.dbr

!shedskin/
shedskin/*
!shedskin/README.rst
!shedskin/*.py
!shedskin/lib/
!shedskin/lib/*.py
shedskin/lib/*.cpp
shedskin/lib/*.hpp
shedskin/lib/*.pyc
