*
!discodop/
!discodop/*.pyx
!discodop/*.pxd
!discodop/*.pxi
!discodop/*.h
!discodop/*.py
!web/
!web/*.py
!bin/
!web/static/
!web/templates/
!tests/
!tests.py
!setup.py
!LICENSE
!MANIFEST.in
!Makefile
!README.rst
!.gitignore
