include README.rst LICENSE setup.py sample.prm proper.prm alpinosample.export
recursive-include discodop *.py *.pyx *.pxd *.pxi *.h *.c
recursive-include web *.py
recursive-include web/static *
recursive-include web/templates *
recursive-include web/corpus *.mrg
recursive-exclude web/grammars *
