include README.rst LICENSE setup.py sample.prm proper.prm alpinosample.export
recursive-include discodop *.py *.h *.c
recursive-exclude discodop *.pyx *.pxi *.pxd
recursive-include web *.py
recursive-include web/static *
recursive-include web/templates *
recursive-include web/corpus *.mrg
recursive-exclude web/grammars *
