<!doctype html>
<title>Browsing sentences of {{ text }}</title>
<link type="text/css" rel="stylesheet" href="static/style.css">
<style>
#sents { margin: 1em; }
</style>
<body>
<form name=frm><tt>
	<input type=hidden name=text value={{ textno }}>
	<input type=hidden name=query value="{{ query }}">
	<input type=hidden name=engine value={{ engine }}>
	{{ prevlink|safe }}
	| <input type=text name=sent size=3 style="text-align: right" value={{ sentno }}> of {{ totalsents }}
	| <a href="/browsesents">list</a>
	| {{ nextlink|safe }}
	| {{ text }} 
</tt></form>

<div id=sents>
{{ legend|safe }}
<ol start={{ mintree }}>
{% for sent in sents %}
<li>{{ sent|safe }}
{% endfor %}
</ol>
</div>
</body>
