<!doctype html>
<title>Browsing sentences of {{ text }}</title>
<link type="text/css" rel="stylesheet" href="static/style.css">
<body>
<form name=frm><tt>
	<input type=hidden name=text value={{ textno }}>
	<input type=hidden name=query value="{{ query }}">
	<input type=hidden name=engine value="{{ engine }}">
	{{ prevlink|safe }}
	| <input type=text name=sent size=3 style="text-align: right" value={{ sentno }}> of {{ totalsents }}
	| {{ nextlink|safe }}
	| {{ text }} 
	| <a href="browsesents">list</a>
</tt></form>

<div id=sents style="margin: 1em">
{{ legend|safe }}
<ol start={{ mintree }}>
{% for sent in sents %}
<li>{{ sent|safe }}{% endfor %}
</ol>
</div>
</body>
