<!-- id={{ randid }} -->
<pre style="display: block;" id=n{{ randid }}>
{{ nbest }}
</pre>
<pre style="display: block;" id=i{{ randid }}>
{{ info }}
{%- if dep -%}
Dependency conversion:
<span id=dep{{ randid }}>{{ dep }}</span>
<div class=deptree>{{ depsvg }}</div>
{%- endif -%}
</pre>
<pre style="display: block; " id="d{{ randid }}">{{ deriv }}</pre>
<pre>
{{ result }}
(show/hide <a href='javascript: toggle("n{{ randid }}")'>alternative analyses</a>; <a href="javascript: toggle('d{{ randid }}'); ">derivation</a>; <a href='javascript: toggle("i{{ randid }}")'>info</a>; <a href="{{ link }}">link</a>)
</pre>
<script>
toggle('n{{ randid }}'); toggle('i{{ randid }}'); toggle('d{{ randid }}');
</script>
