<!-- id={{ randid }} -->
<pre style="display: block;" id=n{{ randid }}>
{{ nbest }}
</pre>
<pre style="display: block;" id=i{{ randid }}>
{{ info }}
{%- if dep -%}
Dependency conversion:
<span id=dep{{ randid }}>{{ dep }}</span>
{%- endif -%}
</pre>
<div class=deptree style="display: block; " id="d{{ randid }}">{{ depsvg }}</div>
<pre>
{{ result }}
show/hide (<a href='javascript: toggle("n{{ randid }}")'>alternative analyses/fragments</a>; <a href="javascript: toggle('d{{ randid }}'); ">dependencies</a>; <a href='javascript: toggle("i{{ randid }}")'>info</a>; <a href="{{ link }}">link</a>)
</pre>
